<div class="text-center" *ngIf="successTransition">
  <img class="img-fluid" src="assets/images/paysuccess.png" />
  <h2 class="text-success">Payment Success</h2>
  <p>We have Successfully Received the Payment.</p>
  <small>Redirecting .... {{counter | formatTime}}</small>
</div>
<div class="text-center" *ngIf="errorTransition">
  <img class="img-fluid" src="assets/images/error.png" />
  <h2 class="text-danger">Payment Failue</h2>
  <p>
    Looks like some issue while processing the payment. Click on the link to
    retry for the payment <a [routerLink]="['/ta/history/']">Retry Payment</a>
  </p>
</div>
