<mat-card-content class="p-3">
  <form class="row" [formGroup]="profileForm" autocomplete="off" novalidate>
    <div class="col-sm-12">
      <div class="d-flex mb-4">
        <img [src]="tempImgpath" class="previewImg mr-3" *ngIf="tempImgpath" />
        <label class="file-label d-flex cursorptr">
          <input
            class="file-input"
            type="file"
            accept="image/*"
            capture
            name="profilepic"
            (change)="onFileChanged($event)"
          />
          <span class="file-cta p-2">
            <span class="file-icon d-flex mr-2">
              <mat-icon>cloud_upload</mat-icon>
            </span>
            <span class="file-label"> [Profile Pic…] </span>
          </span>
        </label>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="input-group">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input
                matInput
                type="text"
                name="firstName"
                formControlName="firstName"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group">
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input
                matInput
                type="text"
                name="lastName"
                formControlName="lastName"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4" *ngIf="!hideEmailInView">
          <div class="input-group">
            <mat-form-field>
              <mat-label>E-Mail Address</mat-label>
              <input
                matInput
                type="email"
                name="email"
                formControlName="email"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <mat-form-field appearance="outline">
          <mat-label>DOB</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            disabled
            formControlName="dateOfBirth"
            name="dateOfBirth"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group mb-3">
        <div class="mb-1 text-muted"><mat-label>Gender</mat-label></div>
        <mat-radio-group name="gender" formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Select Relation</mat-label>
          <mat-select name="relation" formControlName="relation">
            <mat-option value="">Select Relation</mat-option>
            <mat-option
              *ngFor="let item of memberRelationShip"
              [value]="item.key"
              >{{ item.val }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div class="mb-1 text-muted">
          <mat-label>Have Issurance?</mat-label>
        </div>
        <mat-slide-toggle
          name="isInsured"
          [(ngModel)]="isInsuranceToogleOn"
          [ngModelOptions]="{ standalone: true }"
        >
          <span [hidden]="isInsuranceToogleOn">No</span>
          <span [hidden]="!isInsuranceToogleOn">Yes</span>
        </mat-slide-toggle>
      </div>
    </div>
    <div class="col-sm-4" *ngIf="isInsuranceToogleOn">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Choose Insurance Company</mat-label>
          <mat-select
            name="insuranceProvider"
            formControlName="insuranceProvider"
          >
            <mat-option value="">Select Insurance</mat-option>
            <mat-option
              *ngFor="let item of insuranceData"
              [value]="item.companyName"
              >{{ item.companyName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-4" *ngIf="isInsuranceToogleOn">
      <div class="input-group">
        <mat-form-field>
          <mat-label>Insurance Number</mat-label>
          <input
            matInput
            type="text"
            name="insuranceNumber"
            formControlName="insuranceNumber"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="col-12">
      <button
        mat-raised-button
        color="accent"
        class="text-uppercase"
        [disabled]="!profileForm.valid"
        *ngIf="!isNewProfileAdd"
        (click)="updateProfile(profileForm.getRawValue())"
      >
        Update
      </button>

      <button
        mat-raised-button
        color="accent"
        class="text-uppercase"
        [disabled]="!profileForm.valid"
        *ngIf="isNewProfileAdd"
        (click)="addUser(profileForm.getRawValue())"
      >
        Add
      </button>
    </div>
  </form>
</mat-card-content>
