.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.cursorptr {
  cursor: pointer;
}

.previewImg {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

.file-label {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.file-input {
  height: 100%;
  left: 0;
  opacity: 0;
  outline: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.file-cta,
.file-name {
  font-size: 1em;
  white-space: nowrap;
}

.file-cta {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  display: inline-flex;
  position: relative;
  border: 1px solid #000;
  border-radius: 4px;
}
.file-icon {
  align-items: center;
  justify-content: center;
}
.input-group mat-form-field {
  margin-bottom: 20px;
}
