<mat-card-content class="border-0 py-2">
  <mat-card-header>
    <mat-card-title>Profile Complete</mat-card-title>
    <mat-card-subtitle>Fill the below details to continue</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="profileForm" autocomplete="off" novalidate>
    <div class="col-12">
      <div class="input-group">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input
            matInput
            type="text"
            name="firstName"
            formControlName="firstName"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input
            matInput
            type="text"
            name="lastName"
            formControlName="lastName"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <mat-form-field>
          <mat-label>E-Mail Address</mat-label>
          <input matInput type="email" name="email" formControlName="email" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group mb-3">
        <div class="mb-1 text-muted"><mat-label>Gender</mat-label></div>
        <mat-radio-group name="gender" formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <mat-form-field appearance="outline">
          <mat-label>DOB</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            disabled
            formControlName="dateOfBirth"
            name="dateOfBirth"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <mat-form-field>
          <mat-label>Referal code</mat-label>
          <input
            matInput
            type="text"
            name="referralCode"
            formControlName="referralCode"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button
        mat-raised-button
        color="accent"
        [disabled]="!profileForm.valid"
        (click)="submit(profileForm.value)"
      >
        Continue
      </button>
    </div>
  </form>
</mat-card-content>
