@import "../styles/colors";
@import "../styles/font";
@import "../styles/variables";

.header {
  background-color: $header-background-color;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  height: $header-height;

  &__title {
    display: flex;
    align-items: center;
  }

  &__title-button {
    background-color: $header-button-background-color;
    box-shadow: none;

    &:hover {
      background-color: $header-button-background-color-hover;
    }

    @media (max-width: $small) {
      margin-top: 0;
    }
  }

  &__button-icon {
    color: $header-button-font-color;
  }

  &__title-text {
    color: $header-title-font-color;
    font-weight: $fw-lighter;
  }
}
.brand {
  position: absolute;
  left: 60px;
}
.header-toolbar {
  display: flex;
  align-items: center;
}
