<mat-card-content class="p-3">
  <div class="d-flex justify-content-end mb-3">
    <mat-button-toggle-group appearance="legacy" [formControl]="bookingType">
      <mat-button-toggle value="Upcoming" (click)="getScheduledTrip()"
        >Upcoming</mat-button-toggle
      >
      <mat-button-toggle value="Past" (click)="getPastTrip()"
        >Past</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>

  <ng-container *ngIf="bookingData.length > 0; else noRecords">
    <mat-card class="mb-3 cardbg" *ngFor="let item of bookingData">
      <div class="d-flex">
        <div
          class="d-flex flex-grow-1"
          (click)="openBookingDetail(item, 'detail')"
        >
          <div class="leftWrapper d-flex">
            <span class="bordercircle">
              <mat-icon class="align-self-center">local_taxi</mat-icon>
            </span>
          </div>
          <div class="pr-3 flex-grow-1">
            <b>{{ formatTime(item.bookingTime) }} </b>
            <div>Pickup: {{ item.pickupLocation }}</div>
            <div>Drop: {{ item.dropLocation }}</div>
            <div>Payment Status: {{ paymentStatus(item) }}</div>
          </div>
        </div>
        <div
          class="d-flex rightWrapper justify-content-center flex-column text-center"
        >
          <span
            class="d-flex amtbg rounded-circle align-items-center align-self-center justify-content-center"
          >
            {{ formatAmount(item.fare) }}
          </span>
          <span class="mt-1">
            <span
              (click)="
                item.paymentMethod === 'CARD' &&
                  item.paymentStatus !== 'successful' &&
                  makePayment(item._id)
              "
              >{{ paymentType(item) }}</span
            >
          </span>
        </div>
      </div>
      <div class="d-flex">
        <div
          class="d-flex flex-grow-1"
          (click)="openBookingDetail(item, 'detail')"
        >
          <div class="leftWrapper d-flex">
            <span class="bordercircle">
              <mat-icon class="align-self-center">person</mat-icon>
            </span>
          </div>
          <div class="align-self-center flex-grow-1 d-flex flex-column">
            <b>{{ item.driverId.driverName }} </b>
            <span>{{ item.vehicleId.vehicleNumber }}</span>
          </div>
        </div>
        <div class="align-self-center">
          <button
            *ngIf="
              bookingType.value == 'Past' && item.bookingStatus == 'COMPLETED'
            "
            mat-stroked-button
            color="accent"
            (click)="getInvoice(item)"
          >
            Invoice
          </button>
          <button
            class="ml-3"
            mat-stroked-button
            color="warn"
            (click)="cancelTrip(item)"
            *ngIf="
              bookingType.value == 'Upcoming' &&
              item.bookingStatus != 'ON_GOING'
            "
          >
            Cancel Trip
          </button>

          <button class="ml-3" disabled mat-button color="warn">
            {{ item.bookingStatus }}
          </button>
        </div>
      </div>
    </mat-card>
  </ng-container>
  <ng-template #noRecords>
    <h2 class="display-4 mt-5 ft1">
      Sorry, you not have any
      <span class="color1">{{ bookingType.value }} </span>booking's
    </h2>
  </ng-template>

  <!-- <div >See More <mat-icon>expand_more</mat-icon></div> -->
</mat-card-content>
