@mixin themeColor() {
  color: #fff;
  background-color: #ff4081;
}
.mat-button-toggle-checked {
  @include themeColor();
}
.cardbg {
  background-color: #efefef;
}
$leftWrapperwidth: 50px;
.leftWrapper {
  width: $leftWrapperwidth;
  height: $leftWrapperwidth;
  flex: 0 0 $leftWrapperwidth;
}
$rightWrapperwidth: 80px;
.rightWrapper {
  width: $rightWrapperwidth;
  height: $rightWrapperwidth;
  flex: 0 0 $rightWrapperwidth;
}
.amtbg {
  width: 50%;
  height: 50%;
  font-size: 13px;
  @include themeColor();
}
.bordercircle {
  width: 80%;
  height: 80%;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #e73b7f;
  color: #88898b;
}
.ft1 {
  font-size: 2.5rem;
}
.color1 {
  color: #e73b7f;
}
