.text-sm {
  font-size: 14px !important;
}

::placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

a {
  color: inherit;
  cursor: pointer;
}

.btn-blue {
  background-color: #1a237e;
  width: 150px;
  color: #fff;
  border-radius: 2px;
}

@media screen and (max-width: 991px) {
}

.bg-blue {
  color: #fff;
  background-color: #1a237e;
}

$num-of-char: 4;
$char-width: 1ch;
$gap: 0.4 * $char-width;
$in-w: $num-of-char * ($char-width + ($gap));

.otp {
  display: block;
  border: none;
  width: $in-w;
  background: repeating-linear-gradient(
      90deg,
      #000 0,
      #000 $char-width,
      transparent 0,
      transparent $char-width + $gap
    )
    0 100% / #{$in-w - $gap} 2px no-repeat;
  font-size: 3ch;
  letter-spacing: $gap;
  padding: 0;
  margin: 0;
  &:focus {
    outline: none;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
mat-card-header {
  & .mat-card-header-text {
    margin: 0;
  }
}
ngx-intl-tel-input {
  & input[type="tel"] {
    border: 0px;
    border-bottom: 1px solid #000;
    ::placeholder {
      color: #b9b9b9;
    }
  }
  & .form-control:focus {
    outline: none;
    border-color: inherit;
    box-shadow: none;
  }
}
