<mat-card-content class="border-0 py-2">
  <form [formGroup]="loginForm" autocomplete="off" novalidate>
    <ta-mobile [fg]="loginForm" [hidden]="showotp"></ta-mobile>
    <ta-otp
      [fg]="loginForm"
      (backEv)="hideOTP($event)"
      *ngIf="showotp"
    ></ta-otp>

    <div class="d-flex justify-content-center mt-3">
      <button
        mat-raised-button
        color="accent"
        [disabled]="!loginForm.valid"
        (click)="!showotp ? phoneNumber(loginForm.value) : otp(loginForm.value)"
      >
        Continue
      </button>
    </div>
  </form>
</mat-card-content>
