<nav class="sidebar-menu pb-3">
  <mat-nav-list>
    <mat-list-item
      class=""
      *ngFor="let menuitem of sideNav"
      [routerLinkActive]="['active']"
    >
      <a [routerLink]="[menuitem.path]" class="w-100">
        <mat-icon class="mr-2 vertical-align">{{ menuitem.icon }}</mat-icon>
        <span class="vertical-align">{{ menuitem.title }}</span>
      </a>
    </mat-list-item>
  </mat-nav-list>
</nav>
