<mat-card-content class="p-3">
  <div class="map text-center">
    <agm-map
      *ngIf="userCurrentLocation"
      [latitude]="userCurrentLocation?.cords.latitude"
      [longitude]="userCurrentLocation?.cords.longitude"
      [disableDefaultUI]="true"
      [scrollwheel]="false"
      [zoom]="15"
    >
      <agm-marker
        [latitude]="userCurrentLocation?.cords.latitude"
        [longitude]="userCurrentLocation?.cords.longitude"
      ></agm-marker>
    </agm-map>
    <img
      *ngIf="!userCurrentLocation"
      src="./assets/images/google-maps.png"
      style="max-height: 100%"
    />
  </div>
  <form class="row" [formGroup]="bookForm" autocomplete="off" novalidate>
    <div class="col-sm-6">
      <div class="input-group flex-nowrap">
        <mat-form-field appearance="outline">
          <mat-label>Pick Up</mat-label>
          <input
            matInput
            #pickupUI
            formControlName="pickupLocation"
            type="address"
          />
          <mat-icon
            *ngIf="_isPickUp"
            matSuffix
            aria-label="Clear"
            (click)="setPickUp()"
            >close</mat-icon
          >
        </mat-form-field>
        <span class="input-group-append">
          <mat-icon class="mt-3 ml-2" matSuffix (click)="setCurrentLocation()"
            >location_searching</mat-icon
          >
        </span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group flex-nowrap">
        <mat-form-field appearance="outline">
          <mat-label>Where to go?</mat-label>
          <input
            matInput
            placeholder="Drop point"
            name="drop"
            formControlName="dropLocation"
            #dropUI
            type="address"
          />
          <mat-icon
            *ngIf="_isDrop"
            matSuffix
            aria-label="Clear"
            (click)="setDrop()"
            >close</mat-icon
          >
        </mat-form-field>
        <span class="input-group-append">
          <mat-icon
            class="mt-3 ml-2 cursorptr"
            matSuffix
            (click)="getHospitalList()"
            >format_list_bulleted</mat-icon
          >
        </span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group flex-nowrap">
        <mat-form-field appearance="outline">
          <mat-label>Pick-up unit Number</mat-label>
          <input
            matInput
            [formControl]="unitNumber"
            placeholder="Pick-up unit Number"
            type="text"
            name="pickUpUnit"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mb-3">
        <div class="mb-1 text-muted"><mat-label>Vehicle Type</mat-label></div>
        <mat-radio-group
          formControlName="vehicleType"
          (change)="vechileTypeChange($event.value)"
        >
          <mat-radio-button
            *ngFor="let item of staticItemList.vehicleTypeList"
            [value]="item.key"
            >{{ item.val }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mb-3">
        <div class="mb-1 text-muted"><mat-label>Payment Type</mat-label></div>
        <mat-radio-group [formControl]="paymentMethod">
          <mat-radio-button
            *ngFor="let item of staticItemList.payTypeList"
            [value]="item.key"
            >{{ item.val }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mb-3">
        <div class="mb-1 text-muted"><mat-label>Trip</mat-label></div>
        <mat-radio-group
          formControlName="tripType"
          (change)="tripTypeChange($event.value)"
        >
          <mat-radio-button
            *ngFor="let item of staticItemList.tripTypeList"
            [value]="item.key"
            >{{ item.val }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border p-2 rounded d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <p class="mb-0" *ngIf="fare">
            Total Amount: <span class="font-weight-bold">{{ fare }}</span>
          </p>
        </div>
        <div class="visibileNone">
          <mat-form-field>
            <input
              matInput
              [ngxMatDatetimePicker]="datePicker"
              placeholder="Choose a date"
              formControlName="bookingTime"
              [min]="minDate"
              [max]="maxDate"
              readonly="true"
              [disabled]="false"
            />
            <mat-datepicker-toggle matSuffix [for]="datePicker">
            </mat-datepicker-toggle>
            <!-- <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker> -->
            <ngx-mat-datetime-picker
              #datePicker
              [showSpinners]="true"
              [showSeconds]="false"
              [stepHour]="1"
              [stepMinute]="10"
              [stepSecond]="0"
              [enableMeridian]="true"
              [touchUi]="true"
              [color]="'primary'"
            >
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </div>
        <div class="">
          <mat-button-toggle-group
            appearance="legacy"
            formControlName="bookingType"
            (change)="bookingTypeChange($event.value)"
          >
            <mat-button-toggle value="BOOK_NOW" (click)="continueWithBooking()"
              >Book Now</mat-button-toggle
            >
            <mat-button-toggle value="BOOK_LATER" (click)="openCalender()"
              >Book Later <mat-icon>access_time</mat-icon></mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
  </form>
</mat-card-content>
