.map {
  width: 100%;
  min-height: 30vh;
  height: 0;
  position: relative;
  top: -20px;
  background-color: #efefef;
  agm-map {
    height: 100%;
    width: 100%;
  }
}
.mat-input-element:disabled {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #ccc;
}
.mat-button-toggle-checked {
  color: #fff;
  background-color: #ff4081;
}
.visibileNone {
  visibility: hidden;
  height: 1px;
  width: 1px;
}
