<mat-card-header>
  <mat-card-title>Sign | Register</mat-card-title>
  <mat-card-subtitle
    >Please Enter your Mobile number to continue</mat-card-subtitle
  >
</mat-card-header>
<div class="form-group" [formGroup]="fg">
  <ngx-intl-tel-input
    [onlyCountries]="['in', 'sg']"
    [enablePlaceholder]="true"
    [enableAutoCountrySelect]="true"
    [separateDialCode]="true"
    maxLength="10"
    name="mobileNumber"
    formControlName="mobileNumber"
  >
  </ngx-intl-tel-input>
  <div>
    <mat-error
      *ngIf="
        fg.controls['mobileNumber'].touched &&
        fg.invalid &&
        fg.value.mobileNumber != null
      "
      >Invalid mobile number</mat-error
    >
  </div>
</div>
