<div class="d-flex flex-column h-100">
  <app-header
    (isShowSidebar)="sidenav.toggle($event)"
    [isMenuOpened]="isShowSidebar"
  ></app-header>

  <mat-sidenav-container class="layout">
    <mat-sidenav
      #sidenav
      mode="side"
      [(opened)]="isShowSidebar"
      class="layout-sidebar"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
    >
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="layout-content">
      <div class="d-flex flex-column customHeight">
        <ng-content></ng-content>
        <app-footer class="mt-auto"></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
