<mat-card-header>
  <mat-card-title>
    <a href="javascript:;" (click)="back()"
      ><mat-icon class="align-text-bottom mr-2" matTooltip="Back"
        >arrow_back_ios</mat-icon
      ></a
    >
    Mobile Verification</mat-card-title
  >
  <mat-card-subtitle
    >We have sent you an access code via SMS for Mobile Number
    Verification</mat-card-subtitle
  >
</mat-card-header>
<div class="d-flex justify-content-around align-self-center">
  <div class="form-group" [formGroup]="fg">
    <input
      class="otp"
      type="text"
      pattern="\d*"
      formControlName="OTP"
      maxlength="4"
      value=""
      appNumberOnly
    />
  </div>
  <span
    >Resend OTP
    <a
      class="text-center align-self-center"
      href="javascript:;"
      (click)="resendOTP(fg.value)"
    >
      {{ fg.value?.mobileNumber.e164Number }} ?</a
    >
  </span>
</div>
