<mat-card-content class="p-3">
  <div class="d-flex justify-content-end mb-3">
    <button
      mat-button
      mat-raised-button
      color="accent"
      (click)="buttonClick(true)"
    >
      Add New
    </button>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let item of userList | async">
      <mat-card
        class="mb-4 overflow-hidden"
        *ngIf="item.relationText === 'self'"
      >
        <mat-card-header>
          <div mat-card-avatar class="img-wrap-parent">
            <img mat-card-sm-image class="img" [src]="item.profilePic" alt="" />
          </div>
          <mat-card-title
            >{{ item.firstName }} {{ item.lastName }}</mat-card-title
          >
          <mat-card-subtitle
            >{{ item.ageUI }} {{ item.gender }}</mat-card-subtitle
          >
          <span class="fill-remaining-space"></span>
          <div>
            <span class="badge badge-pill badge-primary pl-2 pr-2">{{
              item.relationText
            }}</span>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="d-flex">
            <label class="minLabel">Mobile Number</label>
            <span class="flex-fill">{{ item.mobNumber }}</span>
          </div>
          <div class="d-flex">
            <label class="minLabel">Email</label>
            <span class="flex-fill">{{ item.email }}</span>
          </div>
          <div class="d-flex">
            <label class="minLabel">Insurance</label>
            <span class="flex-fill"
              >{{ item.insuranceProvider }} <br />
              {{ item.insuranceNumber }}</span
            >
          </div>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-end">
          <button
            mat-icon-button
            color="accent"
            (click)="buttonClick(false, item)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card
        class="mb-4 overflow-hidden"
        *ngIf="item.relationText !== 'self'"
      >
        <mat-card-header class="cursorptr" (click)="buttonClick(false, item)">
          <div mat-card-avatar class="img-wrap">
            <img mat-card-sm-image class="img" [src]="item.profilePic" alt="" />
          </div>
          <mat-card-title
            >{{ item.firstName }} {{ item.lastName }}</mat-card-title
          >
          <mat-card-subtitle class="mb-0">
            <div>Insurance</div>
            <span class="flex-fill" *ngIf="item.insuranceProvider"
              >{{ item.insuranceProvider }} {{ item.insuranceNumber }}</span
            >
            <span class="flex-fill" *ngIf="!item.insuranceProvider"> -- </span>
          </mat-card-subtitle>

          <span class="fill-remaining-space"></span>
          <div class="d-flex flex-column">
            <span class="badge badge-pill badge-secondary pl-2 pr-2 mb-auto">{{
              item.relationText
            }}</span>
          </div>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</mat-card-content>
