.mat-card-header {
  margin-bottom: 5px;
}
.img-wrap-parent {
  max-width: 80px;
  width: 100%;
  height: 100%;
  max-height: 80px;
}
.img-wrap {
  max-width: 50px;
  width: 100%;
  height: 100%;
  max-height: 50px;
}
.img {
  width: inherit;
  height: inherit;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.minLabel {
  min-width: 150px;
}
.cursorptr {
  cursor: pointer;
}
