<div id="http-loader" *ngIf="isLoading | async" class="kt-splash-screen">
  <div class="loader-bg">
    <!---line -->
    <div class="sk-line-material" [class.colored]="!backgroundColor">
      <div
        class="sk-child sk-bounce1"
        [style.background-color]="backgroundColor"
      ></div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
